.carousel-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 50rem;

    .carousel-control {
        margin: 2rem;
        font-size: 5rem;
        color: grey;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: black;
        }

        &.active {
            display: block;
        }
    }

    .carousel-content-container {
        max-height: 100%;

        .carousel-content {
            width: auto;
            height: auto;
            max-height: 50rem;
            max-width: 100%;
            display: none;

            &.active {
                display: block;
            }
        }
    }
}
