.carousel-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    .carousel-control {
        margin: 2rem;
        font-size: 5rem;
        color: grey;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: black;
        }
    }

    .carousel-content-container {
        padding: 5rem;

        .carousel-content {
            width: 100%;
        }
    }
}
